{
  "env": {
    "TEST": {
      "presets": [
        ["env", { "targets": { "browsers": ["last 2 versions"] } }],
        "flow",
        "react"
      ],
      "plugins": [
        "istanbul",
        "transform-runtime",
        ["espower", { "embedAst": true }],
        "empower-assert"
      ]
    },
    "BUILD": {
      "presets": [
        "es2015-rollup",
        "react"
      ]
    },
    "PLAY": {
      "presets": [
        ["env", { "targets": { "node": "current" } }],
        "react"
      ]
    }
  }
}