{
  "env": {
    "TEST": {
      "presets": [
        "env",
        "react",
        "power-assert"
      ],
      "plugins": [
        "istanbul"
      ]
    },
    "ROLLUP": {
      "presets": [
        ["env", { "modules": false }],
        "react"
      ]
    },
    "UNIFIED": {
      "presets": ["env"]
    }
  }
}